{% extends 'layout.html' %}
{% block container %}
    <div class="row">
        <div class="col-xs-2">
            <a href="{{url_for('list_books')}}" class="btn btn-primary">Powrót</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form action="{{ url_for('edit_book') }}" method="POST">
                <div class="form-group">
                    <input type="hidden" name="book_id" required value="{{book[0]}}">
                </div>
                <div class="form-group">
                    <label>Autor książki</label>
                    <input type="text" name="book_author" placeholder="Autor książki" class="form-control" required value="{{book[1]}}">
                </div>
                <div class="form-group">
                    <label>Nazwa ksiażki</label>
                    <input type="text" name="book_name" placeholder="Nazwa ksiażki" class="form-control" required value="{{book[2]}}">
                </div>
                <div class="form-group">
                    <label>Rok wydania</label>
                    <input type="number" name="book_year" placeholder="Rok wydania" class="form-control" required value="{{book[3]}}">
                </div>
                <div class="form-group">
                    <input type="submit" value="Modyfikuj książkę" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}