{% extends 'layout.html' %}
{% block container %}
    {% if session['logged_in'] %}

        You're logged in already!

    {% else %}
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input type="username" name="username" placeholder="Login" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Haslo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Zaloguj" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}